# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Julia
*.jl.cov
*.jl.mem
Manifest.toml

# Data files
*.csv
*.xlsx
data/

# OS
.DS_Store
Thumbs.db
